{% extends 'base.html' %}

{% block content %}
<h2>You have been logged out</h2>
<br>
<div style="align-items: center;justify-content: center ;width: 100%;display: flex;">

    <div
        style="background-color: black ;width: 150px; height: 35px;align-content: center;border-radius: 5px;margin-right: 20px; margin-top: 5px;margin-bottom: 5px; cursor: pointer;">
        <a style="text-decoration: none;" href="{% url 'login' %}">
            <span
                style="padding: auto; border-radius: 5px; font-weight: bold;color: white;text-decoration: none;margin-top: auto; ">
                Login again
            </span>
        </a>
    </div>
</div>

{% endblock %}
